* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #4B1D3F;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 400px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 20px;
    box-shadow:  2px 4px 20px 0px ;
    
}
.box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    row-gap: 15px;
}
.die {
    
    width: 50px;
    height: 50px;
    background-color: rgba(235, 234, 234, 0.733);
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}
.dieClicked {
    background-color: greenyellow;
}

.die:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.die-Roller{
    width: 100px;
    height: 50px;
    margin-top: 60px;
    border-radius: 12px;
    background-color: #C71585;
    box-shadow: 3px 4px 10px 0 #ff0180c3 ;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: large;
    color: whitesmoke;
    font-weight: bold;

}
.head {
  margin-bottom: 40px;
  font-size: clamp(2.5rem, 6vw, 4.5rem); 
  font-family: "Bitcount Grid Double", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.03em; 
  color: #130967d1; 

  font-variation-settings:
    "slnt" 0,    
    "CRSV" 1,    
    "ELSH" 1,    
    "ELXP" 0.5;  
  
  text-transform: uppercase; 
   text-align: center; 
}
.instructions-title {

  font-size: 1.4rem;
  font-weight: 600;
  color: #4a4a4a;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.instructions-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
